/* GENERAL */
#projects h1 {
  display:block;width:100%;text-align:center;
}
#projects_holder {
    text-align:center;
}
a.idea {
    display:inline-block;width:222px;border-radius:25px 25px 0 0;height:360px;background-color:#cc0000;color:white;margin:33px;position:relative;
}
a.idea i {
    font-size: 7em;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
a.idea h2 {
    position:absolute;bottom:-50px;background-color:white;color:#cc0000;width:100%;text-align:center;border-radius:0 0 25px 25px;height:40px;margin-bottom:0;
}