<div id="homepage_intro" class="full-banner">
  <h1>Hey!</h1>
  <p>This is a sandbox for my Ruby on Rails development - currently, you're on the index.</p>
</div>
<div class="content-wrap">
  <h2>Why not have a poke around?</h2>
</div>