<div id="homepage_intro" class="full-banner">
  <h1>Ruby on Rails - now with added strained residual tomato material.</h1>
  <p>This is a sandbox for my Ruby on Rails development - currently, you're on the index.</p>
</div>
<div class="content-wrap">
  <h2>Why not have a poke around?</h2>
  <h3>Peeled Tomatoes?</h3>
  <ul>
    <li><a href="/sainsburys_own">Definitely - Sainsbury's Own, please.</a></li>
    <li><a href="/italian_style">Yup - Italian Style!</a></li>
    <li><a href="/tesco_finest">Yes, Tesco Finest, if you've got them.</a></li>
  </ul>
</div>