<div id="homepage_intro" class="full-banner">
  <h1>Ruby on Rails - now with added strained residual tomato material.</h1>
  <p>This is a sandbox for my Ruby on Rails development - currently, you're on the index. Don't worry about the Tomato theme.</p>
</div>
<div class="content-wrap">
  <h2>What I done:</h2>
  <ul>
    <li><a href="/projects">Projects</a><br /><p>Super basic project ideas app. Will need to add user authentication, and styles.</p></li>
    <li><a href="/build_a_duck">Build a duck</a><br /><p>WIP Quote Builder concept, utilising JQuery and Rails.</p></li>
  </ul>
</div>